.about_text{
  line-height: 1.6;
  em{
    font-weight: 600;
  }
  p{
    font-size: 1.125em;
    margin-bottom: 2em;
  }
  .about_link{
    font-family: $spacemono;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.about_img img{
  display: none;
}

