@media screen and (min-width:60em){
  .about_content{
    flex-direction: row;
    padding:0 4em 0 0;
    background-image: url("../assets/bg-profile.png");
    background-repeat:no-repeat ;
    background-position:100% 20%;
  }
  .about_text{
    width: 33.4375em;
    padding-right: 2em;
  }

}