@media screen and (min-width:60em){
  .about_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5em 4em 7em 0;
    background-image: url("../assets/bg-profile.png");
    background-repeat:no-repeat ;
    background-position:100% 20%;
  }
  .about_text{
    width: 33.4375em;
    padding-right: 2em;
  }
  .about_img img{
    display: block;
    border-radius: 100%;
    width: 100%;
    max-width: 20em;
  }
}