@media screen and (max-width:500px){
  .menu_icon{
    display: block;
    position: static;
    right: 1.25em;
    padding: 0.625em;
    background-color: $yellow;
    border-radius: 100%;
    z-index: 2;
    svg{
      stroke: $black;
      stroke-width: 2px;
    }
  }

  nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    transform: translateX(100vw);
    transition: 0.4s;
    z-index: 1;
    .nav_list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    li:nth-child(2){
      padding: 4em 0;
    }
    a{
      font-size: 2em;
      color: #000;
    }
  }
  #menu:checked ~ nav {
    transform: translateX(0);
    transition: 0.4s ease-in;
  }
  #menu:checked ~ #burger{
    position: fixed;
  }


  .hero_wrapper{
    background-size: contain;
  }
  .hero_content {
    span{
      margin-bottom: 0.5em;
      font-size: 3em;
    }
    em{
      font-size: 2em;
    }
  }
}


