@media screen and (max-width:43.75em){
  .hero_wrapper{
    background-size: contain;
  }
  .hero_content {
    span{
      margin-bottom: 0.5em;
      font-size: 3em;
    }
    em{
      font-size: 2em;
    }
  }
}
