@media screen and (min-width:60.25em){
  .contact_content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3em;
  }
  .contact_form{
    width: 34.375em;
  }
  .contact_info{
    width: 34.375em;
    padding-left: 4em;
  }
}