footer{
  background-color: $blue;
}



.footer_wrapper{
  margin: 0 auto;
  width: 90%;
  max-width:90em;
  text-align: center;
  padding: 3em 0 0;
}

.social_list{
  display: flex;
  justify-content: center;
  .social_item{
    padding: 0.5em 1em;
  }
}

.credit, .social_list{
  padding-bottom: 1em;
}

.credit p{
  font-size: 0.8125em;
  a{
    font-weight: 600;
    transition: 0.3s;
    &:hover{
      border-bottom: 2px solid $black;
      transition: 0.3s;
    }
  }
}

.to_contact{
  padding-bottom: 5em;
}

.to_contact_content{
  font-family: $spacemono;
  font-size:  1.4375em; /*23px*/
  padding-bottom: 2em;
}

.social_item{
  transition: 0.3s ease-in-out;
}
.social_item:hover{
  transform: translateY(-7px);
  transition: 0.3s ease-in-out;
}

@media screen and (min-width:31.25em){
  .footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .to_contact_content{
    font-size: 2.5em; /*40px*/
  }

}