// colors
$white:#F9F9F9;
$black:#232323;
$yellow:#fdd634;
$blue: #b1d4d4;
$logo:#5DB3B3;

// fonts
@font-face {
  font-family: "Space Mono";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/SpaceMono-Regular.ttf");
}

@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/SpaceMono-Bold.ttf");
}

@font-face {
  font-family: "Work Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/WorkSans-Regular.ttf");
}

@font-face {
  font-family: "Work Sans";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/WorkSans-SemiBold.ttf");
}

$spacemono:"Space Mono", serif;
$worksans:"Work Sans", "Open Sans", "Helvetica", sans-serif;
