h1{
  padding-bottom: 2em;
}
.header_logo{
  stroke-dasharray: 200% 0;
  animation: stroke-offset 3s ease-out;
  .logo_fill{
    fill:$logo;
  }
  .logo_outline{
    fill:none;
    stroke:$black;
    stroke-width:2px;
  }
}

@keyframes stroke-offset {
  0% {
    stroke-dasharray:0 200%;
  }
  100%{
    stroke-dasharray:200% 0;
  }
}