.no_page{
  margin: 0 auto 6em;
  text-align: center;
  max-width: 90em;
  width: 90%;
  h2{
    font-size: 2em;
    padding-bottom: 1em;
  }
  p{
    padding-bottom: 5em;
  }
}

.no_page_btn{
  background-color: $white;
  border: 2px solid $black;
  padding: 1em 2em;
  box-shadow: 4px 4px $black;
  font-family: $spacemono;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
  &:hover{
    background-color: $black;
    color: $white;
    box-shadow: none;
    transition: 0.3s;
  }
}

.page_404 svg{
  padding: 2em 0;
  max-width: 100%;
  stroke-dasharray: 200;
  stroke-dashoffset: 200.6;
  animation: strokeIt 6s cubic-bezier(0.45, 0.03, 0.51, 0.95) alternate infinite;

}

.cls-1{
  fill:$blue;
}
.cls-2{
  fill:none;
  stroke:$black;
  stroke-width:2px;
}

@keyframes strokeIt {
  from {
    stroke-dashoffset: 200.6;
  }
  to {
    stroke-dashoffset: 0;
  }
}