

.project_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0;
}
.project_title{
  font-size: 1.7em;
  padding-bottom: 2em;
}

.project_img{
  margin-bottom: 5em;
  img{
    width:100%;
  }
}

.project_description_wrapper p{
  font-size: 1.125em;
  line-height:2;
  padding: 0 0 4em 0;
  max-width: 37.5em;
}

.project_wrapper:nth-child(3n) .project_link {
  text-align: right;
}

.noproject_wrapper{
  position: relative;
  padding: 5em 0;
  text-align: center;
  .noproject_img {
    fill: none;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
  }
}
.empty{
 font-family: $spacemono;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 17%;
}

.work_wrapper{
  counter-reset: project;
}
.project_content{
  position: relative;
  max-width: 31.25em;
}
.project_content:before{
  counter-increment: project;
  content: '0'counter(project);
  font-family: $spacemono;
  font-weight: 700;
  font-size: 10em;
  position: absolute;
  opacity: 0.2;
  top: -0.5em;
}



