@media screen and (min-width:31.25em){
  .wrapper{
    max-width: 65em;
  }

  .about_content{
    padding: 5em 0;
  }

  .project_wrapper{
    padding-top:16em;
  }

  h2{
    font-size: 4.5em; /*50px*/
  }
}