@media screen and (min-width:31.25em){
  .wrapper{
    max-width: 65em;
  }

  .about_content{
    padding: 5em 0;
  }

  .project_wrapper{
    padding:7em 0 ;
  }

  h2{
    font-size: 3.125em; /*50px*/
  }
}