.single_project_header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single_project img{
  max-width: 100%;
}
.project_description{
  line-height: 1.8;
  padding: 2em 0;
  font-size: 1.125em;
}

.project_links li{
    margin-bottom: 2em;
  }
  .project_link_item{
    font-family: $spacemono;
    font-weight: 700;
    text-transform: uppercase;
  }

.single_project_content{
  padding:3em 0 6em;
  h3{
    font-size: 1.25em; /*20px*/
    font-weight: 700;
    padding: 2.5em 0 1.5em;
  }
}

.project_img_list img{
  padding: 0.5em 0;
}

.color_list{
  display: flex;
}

.color_item{
  text-align: center;
}

.circle{
  width: 4em;
  height: 4em;
  border-radius: 100%;
}

.hex{
  padding-top: 1em;
}
.color_item:not(:last-of-type){
  margin-right: 0.8em;
}

.project_typo ul li{
  padding: 0.8em 0.5em;
}
