.single_project_header{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.project_header_img img{
  max-width: 100%;
}

.project_description{
  line-height: 1.6;
  padding-top: 3em;
}

.project_links li{
  margin: 2em 2em 2em 0;
  }
  .project_link_item{
    font-family: $spacemono;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875em;
  }


.single_project_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3em;
  h3{
    font-size: 1.25em;
    font-weight: 700;
    padding: 3em 0 1em;
  }
}

.single_project_img {
 margin: 0 auto;
}
.project_img_list img{
  padding: 0.5em;
  width: 450px;
  max-width: 100%;
  height: auto;
}

.color_list{
  display: flex;
}

.color_item{
  text-align: center;
}

.circle{
  width: 4em;
  height: 4em;
  border-radius: 100%;
}

.hex{
  padding-top: 1em;
}
.color_item:not(:last-of-type){
  margin-right: 0.8em;
}

.project_typo ul li{
  padding: 0.8em 0.25em;
}

