@media screen and (min-width:800px){
  .project_description{
    line-height: 1.6;
    font-size: 1.125em;
  }

  .project_links ul li{
    display: inline-block;
  }

  .circle{
    width: 6em;
    height: 6em;
  }
  .color_item:not(:last-of-type){
    margin-right: 1em;
  }
}

@media screen and (min-width: 1100px){
  .single_project_header{
    flex-direction: row;
  }
  .project_header_content{
    max-width: 38em;
    padding-right: 2em;
  }

  .single_project_content{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }



}