.single_project_header{
  display: flex;
  flex-direction: column;
  align-items: center;
  strong{
    font-weight: 600;
  }
}
.single_project img{
  max-width: 100%;
}
.project_description{
  line-height: 1.5;
  padding: 2em 0;
}

.project_header_img{
  margin-bottom: 3em;
}

.project_links li{
    margin-bottom: 2em;
  }
  .project_link_item{
    font-family: $spacemono;
    font-weight: 700;
    text-transform: uppercase;
  }

.single_project_content{
  padding-bottom: 6em;
  h3{
    font-size: 1.25em; /*20px*/
    font-weight: 700;
    padding: 2.5em 0 1.5em;
  }
}

.project_typo{
  padding: 0 0 1em 1.2em;
}
.project_color{
  display: flex;
}
.circle{
  width: 4em;
  height: 4em;
  border-radius: 100%;
  background-color: #5DB3B3;
}
.circle:not(:last-of-type){
  margin-right: 0.8em;
}

.project_img_list img{
  padding: 0.5em 0;
}